*{
    margin:0;
    padding:0;
    font-family: Helvetica, Arial, sans-serif;
    /* box-sizing: border-box; */
}

body{
    background-color: #f0f2f5;
    position:relative;
    height: 115vh;
    overflow-x: hidden;
}


#container{
    display:flex;
    /* justify-content: center; */
    /* align-items: center; */
}

#label{
    display:flex;
    flex-direction: relative;
    position:relative;
    left:20vw;
    top:13vh;
    margin-right:30vw;
    
}
#facebook{
    height:70px;
    width:198px;
    margin:-50px;
}


#label > #title{
    font-size:28px;
    font-weight:normal;
    line-height:30px;
    margin-top:20px;
    margin-bottom:5px;
}




















/* body{
    background-color:#f2f4f7;;
    margin:0px 40px 0px 40px;
    /* padding:0px 40px 0px 40px; */
/*
}

h2{
    font-size:30px;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    color:#1c1e21;
    line-height:30px;
    font-weight:500;
    letter-spacing: normal;
    width:auto;
    text-align: left;
    margin-top:0px;
}

.form, .label, .logo, .slogan{
    display:inline-block;
    
}

.logo{
    padding-bottom:0;

}

.slogan h2{
    margin-top:5px;
    margin-left:30px;
}
.label{

    position:relative;
    width: 471px;
}

.page{
    margin:180px;
    margin-left:200px;
    
}

.form{
    text-align: center;
    background-color:#fff;
    border-radius:8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 0px 0 0;
    padding: 20px 0 28px;
    width: 396px;
    font-family: sans-serif;

}
*/
/* .inputs{
    font-size: 17px;
    width: 364px;
    display: inline-block;
    margin-top:5px;
    /* padding: 6px 0; */


/* .formInput{
    padding:10px 10px 10px 10px;
    border-width: 1px;
    border-radius: 5px;
    border-color:#DCDCDC;
    border-style: solid;
    margin-bottom:10px;
   
} */


